@import '../../lib/styles/shared/variables';

@mixin padded {
  padding-left: $module-padding;
  padding-right: $module-padding;
}

.records {
  margin-top: 0;
  
  thead {
    th:last-of-type {
      text-align: right;
    }
  }
  
  tbody {
    td:last-of-type {
      text-align: right;
    }
  }
}

.year {
  text-align: center;
}

.padded {
  @include padded;
}

.bitty {
  font-size: em(13px);
}
