@import '../../lib/styles/shared/variables';

@mixin padded {
  padding-left: $module-padding;
  padding-right: $module-padding;
}

.payments {
  margin-top: 0;
  
  thead {
    th:last-of-type {
      text-align: right;
    }
  }
  
  tbody {
    td:last-of-type {
      text-align: right;
    }
  }
}

.bitty {
  @include padded;
  font-size: em(13px);
}
