// @import '../../lib/shared-styles/uswds';
// @import '../../shared-styles/variables';

.header {
  text-align: center;
}

.nav {
  // width: $content-width;
  margin: 0 auto;
  // padding: $padding;
  text-align: center;
}

// .content {
//   max-width: $content-width;
//   margin: $padding auto;
// }

.navItem {
  display: inline-block;
}

.link {
  padding: $padding;
  color: #00a68f;
  font-size: 18px;
}
